body{
    display: flex;
    background-image:url("image.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.overall{
    width: 250px;
    height: 250px;
    backdrop-filter: blur(7px);
    border: 2px solid black;
    border-radius: 30px;
}
.overall h1{
    text-align: center;
    color: black;
}
.Username{
    height: 25px;
    margin: 7px;
}
.Password{
    height: 25px;
    margin: 7px;
}
.Username input{
    width: 98%;
    height: 98%;
    border: 2px solid rgb(67, 60, 60);
    border-radius: 30px;
}
.Password input{
    width: 98%;
    height: 98%;
    border: 2px solid rgb(67, 60, 60);
    border-radius: 30px;
}
.button{
    height: 25px;
    margin: 7px;
}
.button button{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(67, 60, 60);
    border-radius: 30px;
}
.signandforgot{
    font-size: large;
    font: bold;
}
.signandforgot .x{
    margin: 10px;
    color: rgb(13, 15, 14);
}
.signandforgot .y{
    margin: 10px;
    margin-left: 40px;
    color: rgb(13, 15, 14);
}

